extends layout

block content
  h1.Name Aviva Silverman

  h1.Header
    iframe(src="http://xxith.com/?year=1969&month=June&day=28&hour=15&minute=42&color=black&bgcolor=white" frameborder="0" height="150")
  
  .Grid
    each block in contents
      if block
        case block.class
          when "Text"
            .GridBlock.GridBlock--Text!= block.content_html
          default
            if block.image
              a.GridBlock(
                href='/blocks/' + block.id
                id=block.id
              )
                figure
                  img(src=block.image.display.url)
                  if block.description_html
                    figcaption!= helpers.stripLinks(block.description_html)

